<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h2 class="text-primary" i18n="addBook @@addBook">{{state}} Book</h2>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xs-offset-3">
    <form id="book-form" class="form" action="#" role="form" id="add-book" aria-labelledby="book-tab" [formGroup]="form"
      #bookForm="ngForm">

      <div class="form-group">
        <label class="form-label text-primary" for="title" i18n="ttl @@ttl">Title <i placement="right"
            ngbTooltip="Required" class="text-warning">*</i></label>
        <input type="text" [(ngModel)]="newBook.title" value="newBook.title" class="form-control" id="title"
          name="title" placeholder="Title" tabindex="3" required formControlName="title" [ngClass]="{
            'input-invalid':  title.touched && title.invalid && title.errors.required}">
        <div *ngIf="title.touched && title.invalid && title.errors.required">
          <span class="text-danger">Title is required.</span>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-group wdth-49" *ngIf="authors">
          <label class="form-label text-primary" for="author" i18n="auth @@pblshr">Author <i placement="right"
              ngbTooltip="Required" class="text-warning">*</i></label>
          <select class="form-control" name="author" [(ngModel)]="selectedAuth" (ngModelChange)="setAuthor($event)"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let author of authors" [ngValue]="author">
              {{author.name}}
            </option>
          </select>
        </div>

        <div class="form-group wdth-49" *ngIf="tags">
          <label class="form-label text-primary" for="tags" i18n="tag @@tag">Tag <i placement="right"
              class="text-warning" ngbTooltip="Ctrl + click to select multiple tags. Required">*</i></label>
          <select class="form-control" name="tags" [(ngModel)]="selectedTag" (ngModelChange)="setTag($event)"
            [ngModelOptions]="{standalone: true}" multiple>
            <option *ngFor="let tag of tags" [ngValue]="tag">
              {{tag.description}}
            </option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-group wdth-49">
          <label class="form-label text-primary" for="isbn13">ISBN-13 <i placement="right" ngbTooltip="Required"
              class="text-warning">*</i></label>
          <input type="email" class="form-control" id="isbn13" name="isbn13" placeholder="ISBN-13" tabindex="2" required
            [(ngModel)]="newBook.isbn13" value="newBook.isbn13" formControlName="isbn13" [ngClass]="{
              'input-invalid':  isbn13.touched && isbn13.invalid && isbn13.errors.required}" minlength="13"
            maxlength="14">
          <div *ngIf="isbn13.touched && isbn13.invalid && isbn13.errors.required">
            <span class="text-danger">Please enter a valid isbn13.</span>
          </div>
        </div>

        <div class="form-group wdth-49">
          <label class="form-label text-primary" for="isbn10">ISBN-10 <i placement="right"
              ngbTooltip="ISBN-10 can be converted to ISBN-13" class="text-secondary">(?)</i></label>
          <input type="text" class="form-control" id="isbn10" name="isbn10" placeholder="ISBN-10" tabindex="1"
            [(ngModel)]="newBook.isbn10" value="newBook.isbn10" formControlName="isbn10" maxlength="10">
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-group wdth-49">
          <label class="form-label text-primary" for="publisher" i18n="pblshr @@pblshr">Publisher <i placement="right"
              ngbTooltip="Required" class="text-warning">*</i></label>
          <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Publisher" required
            [(ngModel)]="newBook.publisher" value="newBook.publisher" formControlName="publisher" [ngClass]="{
              'input-invalid':  publisher.touched && publisher.invalid && publisher.errors.required}">
          <div *ngIf="publisher.touched && publisher.invalid && publisher.errors.required">
            <span class="text-danger">Publisher name is required.</span>
          </div>
        </div>

        <div class="form-group wdth-49">
          <label class="form-label text-primary" for="dp" i18n="pblshDate @@pblshDate">Publish Date<i placement="right"
              ngbTooltip="Required" class="text-warning">*</i></label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" required value="model"
              ngbDatepicker #d="ngbDatepicker" formControlName="dp" [ngClass]="{
                'input-invalid':  dp.touched && dp.invalid && dp.errors.required}">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" (click)="d.toggle()" type="button"><i
                  class="gg-calendar-dates"></i></button>
            </div>
          </div>

          <div *ngIf="dp.touched && dp.invalid && dp.errors.required">
            <span class="text-danger">Publish Date is required.</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label text-primary" for="about" i18n="abt @@abt">About</label>
        <textarea rows="5" cols="50" name="about" class="form-control" id="about" placeholder="About..." tabindex="4"
          [(ngModel)]="newBook.about" formControlName="about"></textarea>
      </div>

      <div class="form-group">
        <label class="form-label text-primary" for="abstract" i18n="abt @@abt">About <i placement="right"
            ngbTooltip="A brief summary of the book" class="text-warning">(?)</i></label>
        <textarea rows="5" cols="50" name="abstract" class="form-control" id="abstract" placeholder="Abstract..."
          tabindex="4" [(ngModel)]="newBook.abstract" formControlName="abstract"></textarea>
      </div>

      <div class="form-group" *ngIf="state != 'Update'">
        <label class="form-label text-primary" for="filename" i18n="cvrPct @@cvrPct">Cover Picture</label>
        <div class="custom-file">
          <input type="file" class="form-control-file custom-file-input" id="customFile" name="filename"
            accept="image/bmp,image/gif,image/jpeg,image/png" autocomplete="none" autocorrect="off" autocapitalize="off"
            spellcheck="false" (change)="uploadPicture($event)" />
          <label class="custom-file-label overflow-hidden" for="customFile" id="imageName"
            placeholder="Choose File">{{ imageName$ | async }}</label>
        </div>
      </div>

      <div class="text-center">
        <ngb-alert *ngIf="!staticAlertClosed && !error" (close)="staticAlertClosed = true" class="bg-success">
          Book was added successfully to the database!
        </ngb-alert>
        <button [disabled]="!bookForm.valid" type="submit" id="addBookBtn" class="btn btn-primary" (click)="addBook()"
          i18n="addBook @@addBook">{{state}} Book</button>
      </div>
    </form>
  </div>
</div>

<ngb-toast *ngIf="!staticAlertClosed" class="toast" [ngClass]="{ 'bg-danger':error, 'bg-success':!error }" [delay]="4000" (hide)="close()" header=" ">
    {{toastMessage}}
    <div *ngIf="link.length > 0">
      <a *ngIf="!error" [routerLink]="link">View Book</a>
    </div>
</ngb-toast>
