<div class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0" i18n="Welcome @@wlcDVT">Welcome to DVT Books</h1>
    <img class="masthead-avatar mb-5" src="../../assets/images/newsroom.png" alt="" />

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">smart people smart solutions</p>
  </div>
</div>

<div class="footer masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h4 class="text-capitalize mb-4" i18n="inTch @@inTch">Get in Touch</h4>
        <h6 i18n="Home link | Returns users to home page.@@homeLnk"><strong>South Africa</strong></h6>
        <p>Johannesburg: +27 11 759 5930<br />Centurion: +27 10 140 8560<br />Cape Town: +27 21 467 5400<br />Durban:
          +27 31 566 5251</p>

        <h6><strong>United Kingdom</strong></h6>
        <p>London: +44 203 848 9470</p>
        <p>info@dvt.co.za</p>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h4 class="text-capitalize mb-4" i18n="About @@abt">About Us</h4>
        <p class="lead mb-0">DVT was founded in 1999 and has grown to over 500 staff with offices in South Africa
          and the United Kingdom.
        </p>
        &nbsp;
        <p class="lead mb-4">We service more than 100 medium and large organisations and build long term partnerships
          with our clients.</p>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h4 class="text-capitalize mb-4" i18n="WorkDvt @@workDVT">Work for DVT</h4>
        <p class="lead mb-4">Grow your IT career with us. Vacancies available for mobile developers, Java and Microsoft
          developers, Scrum Masters and Test Analysts.
        </p>
        <p class="lead mb-4">Find out more.</p>
      </div>
    </div>
  </div>
</div>

<section class="bg-secondary py-3 text-center text-white fixed-bottom">
  <div class="container"><small>Copyright © 2020 Dynamic Visual Technologies (Pty) Ltd. All rights reserved</small>
  </div>
</section>
