<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h2 class="text-primary">New Author</h2>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
    <form id="author-form" class="form" role="form" id="add-author"
      aria-labelledby="author-tab">
      <div class="form-group">
        <label class="form-label text-primary" for="first-name">First Name <i placement="right" ngbTooltip="Required"
            class="text-warning">*</i></label>
        <input type="text" class="form-control" id="first-name" name="first-name" placeholder="First Name"
          tabindex="1" required [(ngModel)]="newAuthor.first_name">
      </div>
      <div class="form-group">
        <label class="form-label text-primary" for="middle-name">Middle Name(s)</label>
        <input type="text" class="form-control" id="middle-name" name="middle-name" placeholder="Middle Name"
          tabindex="1" [(ngModel)]="newAuthor.middle_names">
      </div>
      <div class="form-group">
        <label class="form-label text-primary" for="last-name">Last Name <i placement="right" ngbTooltip="Required"
            class="text-warning">*</i></label>
        <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Last Name"
          tabindex="1" required [(ngModel)]="newAuthor.last_name">
      </div>
      <div class="form-group">
        <label class="form-label text-primary" for="about">About</label>
        <textarea rows="5" cols="50" name="about" class="form-control" id="about" placeholder="About..."
          tabindex="4" [(ngModel)]="newAuthor.about"></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" (click)="addAuthor()">Add
          Author</button>
      </div>
    </form>
  </div>
</div>
