<ng-container *ngIf="(pageLoading$ | async) === false">
  <div class="container my-5 py-5 z-depth-1" *ngIf="isbn">
    <section class="text-center">

      <div class="row">
        <div class="col-lg-6">
          <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
            <div class="carousel-inner text-center text-md-left" role="listbox">
              <ng-container *ngIf="book.image; else elseTemplate">
                <div class="carousel-item active">
                  <img src='{{book.image}}' alt="Book cover not found" class="img-fluid img-custom-size">
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="carousel-item active">
                  <img src="../../assets/images/default.png" alt="Book cover not found" class="img-fluid">
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-lg-5 text-center text-md-left">
          <h2
            class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
            <strong>{{book.title}}</strong>
          </h2>
          <h5
            class="h3-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
            by <a [routerLink]="['/author', book.author.id]"><strong>{{book.author.name}}</strong></a></h5>
          <div *ngIf="book.tags.length > 0">
            <span class="badge badge-warning" *ngFor="let tag of book.tags">{{tag.description}}</span>
          </div>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    Description
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <ng-container *ngIf="book.about; else elseTemplate">
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    {{book.about}}
                  </div>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    This book has no description.
                  </div>
                </div>
              </ng-template>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0" i18n="dtls @@dtls">
                    Details
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th scope="row" i18n="ttl @@ttl">Title</th>
                          <td>{{book.title}}</td>
                        </tr>
                        <tr>
                          <th scope="row" i18n="auth @@auth">Author</th>
                          <td>{{book.author.name}}</td>
                        </tr>
                        <tr>
                          <th scope="row" i18n="pblshr @@pblshr">Publisher</th>
                          <td>{{book.publisher}}</td>
                        </tr>
                        <tr>
                          <th scope="row" i18n="pblshdt @@pblshdt">Published on</th>
                          <td>{{book.date_published | date:'longDate'}}</td>
                        </tr>
                        <tr>
                          <th scope="row">ISBN-13</th>
                          <td>{{book.isbn13}}</td>
                        </tr>
                        <tr *ngIf="book.isbn10">
                          <th scope="row">ISBN-10</th>
                          <td>{{book.isbn10}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="auth.isAdmin">
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                  aria-expanded="false" aria-controls="collapseThree3">
                  <h5 class="mb-0" i18n="admn @@admn">
                    Admin
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                data-parent="#accordionEx">
                <div class="card-body">
                  <ul>
                    <li (click)="openModal(updateBook)" class="btn-link" i18n="updtBk @@updtBk">Update book</li>
                    <li (click)="openModal(updateAuthor)" class="btn-link" i18n="updtAuth @@updtAuth">Update author</li>
                    <hr />
                    <li class="btn-link" i18n="rmBk @@rmBk">Remove book</li>
                    <li class="btn-link" i18n="rmAuth @@rmAuth">Remove author</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container my-5 py-5 z-depth-1" *ngIf="authBooks.length > 1">
    <h1>More by {{book.author.name}}</h1>
    <div class="row my-4">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let bookRef of authBooks">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title card-link">
              <a [routerLink]="['/book', bookRef.isbn13]">{{bookRef.title}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<div *ngIf="(pageLoading$ | async)" class="loading-indicator">
  <ng-container>
    <app-spinner></app-spinner>
  </ng-container>
</div>

<ng-template #updateBook let-modal>
  <div class="modal-header">
    <h4 class="modal-title" i18n="updtBk @@updtBk">Update Book</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-new-book [state]="state" [currentBook]="book"></app-new-book>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" i18n="close @@close">Close</button>
  </div>
</ng-template>

<ng-template #updateAuthor let-modal>
  <div class="modal-header">
    <h4 class="modal-title" i18n="updtAuth @@updtAuth">Update Author</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-new-author [state]="state" [currentAuth]="book.author"></app-new-author>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" i18n="close @@close">Close</button>
  </div>
</ng-template>
