<ng-container *ngIf="(pageLoading$ | async) === false">
  <div>Time: {{ time$ | async }}</div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="book-tab" data-toggle="tab" href="#add-book" role="tab"
              aria-controls="add-book" aria-selected="true" i18n="addBook @@addBook"><span class="mdi mdi-book-open-page-variant"></span> Add
              Book
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="author-tab" data-toggle="tab" href="#add-author" role="tab"
              aria-controls="add-author" aria-selected="false" i18n="addAuth @@addAuth">Add Author <span class="mdi mdi-account-edit"></span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content" id="authorTabContent">
      <!-- Book Tab -->
      <div class="tab-pane fade show active" id="add-book" role="tabpanel" aria-labelledby="book-tab">
        <app-new-book [state]="state"></app-new-book>
      </div>

      <!-- Author Tab-->
      <div class="tab-pane fade show" id="add-author" role="tabpanel" aria-labelledby="author-tab">
        <app-new-author [state]="state"></app-new-author>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="(pageLoading$ | async)" class="loading-indicator">
  <ng-container>
    <app-spinner></app-spinner>
  </ng-container>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" i18n="conf @@conf">Confirm </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n="close @@close">Close</button>
        <button type="submit" class="btn btn-primary" i18n="saveSbmt @@saveSbmt">Save changes</button>
      </div>
    </div>
  </div>
</div>
