<ng-container *ngIf="(pageLoading$ | async) === false">
  <table class="table table-striped my-4" *ngIf="authors">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Middle</th>
        <th scope="col">Last</th>
        <th scope="col">Books</th>
        <th scope="col">Author Page</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors; let i=index">
        <td>{{i + 1}}</td>
        <td>{{author.first_name}}</td>
        <td>{{author.middle_names}}</td>
        <td>{{author.last_name}}</td>
        <td>{{author.books.length}}</td>
        <td><a [routerLink]="['/author', author.id]">{{author.name}}</a></td>
      </tr>
    </tbody>
  </table>
</ng-container>

<div *ngIf="(pageLoading$ | async)" class="loading-indicator">
  <ng-container>
    <app-spinner></app-spinner>
  </ng-container>
</div>
