.toast {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  text-align:center;
  font-size: 30px;
  font-weight: bolder;
}

.toast.bg-danger {
  color: white;
}
